footer {
	background-color: var(--primary-colour);
	color: var(--background-colour);
	padding: 0;
	margin: 0;
	margin-top: var(--space-l);
	position: relative;
	z-index: 500;
}

.footer-title {
	font-family: var(--font-family-sans_condensed);
	font-weight: 800;
}

.footer-container {
	margin-top: var(--gap);
	margin-bottom: var(--gap);
	color: var(--secondary-colour);
	font-size: var(--font-size-fnote);
}

.icon-link {
	vertical-align: text-top;
}

/* Social media list */
footer li {
	font-size: var(--font-size-normal);
}

footer .s_media-list a {
	color: inherit;
}