/* Import font */
/* Alegreya */
/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Mono */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* Custom properties */
:root {
	/* --font-family-serif: "Alegreya", "Noto Serif TC", Times, serif; */
	/* --font-family-sans: "Alegreya Sans", "Noto Sans TC", Helvetica, sans-serif; */
	--font-family-serif: "Alegreya", "Noto Serif TC", Times, serif;
	--font-family-sans: "Fira Sans", "Noto Sans TC", Helvetica, sans-serif;
	/* --font-family-sans_condensed: "Fira Sans Extra Condensed", "Noto Sans TC", */
	/* Helvetica, sans-serif; */
	--font-family-mono: "Fira Code", monospace;
	--font-size-normal: 1rem;
	--font-size-large: calc(var(--font-size-normal) * 1.2);
	--font-size-Large: calc(var(--font-size-normal) * 1.4);
	--font-size-LARGE: calc(var(--font-size-normal) * 1.7);
	--font-size-huge: calc(var(--font-size-normal) * 2);
	--font-size-Huge: calc(var(--font-size-normal) * 2.5);
	--font-size-small: calc(var(--font-size-normal) * 0.9);
	--font-size-fnote: calc(var(--font-size-normal) * 0.8);
	--font-size-script: calc(var(--font-size-normal) * 0.7);
	--font-size-tiny: calc(var(--font-size-normal) * 0.5);

	--gap: var(--font-size-normal);
	--linestretch: 140%;

	--colour-oceanblue: rgb(010, 092, 173);
	--colour-sandgreen: rgb(080, 130, 100);
	--colour-sandyellow: rgb(255, 236, 189);
	--colour-offwhite: rgb(255, 254, 230);
	--colour-grey: rgb(86, 88, 93);
	--colour-brown: rgb(200, 175, 135);
	/* --colour-brown: rgb(217, 201, 168); */
	--background-colour: white;
	/* --background-colour: white; */
	--primary-colour: var(--colour-sandgreen);
	--secondary-colour: var(--colour-sandyellow);
	--accent-colour: var(--colour-oceanblue);
	--accent-colour-bg: rgb(186, 229, 254);

	/* Animation */
	--animation-duration: 0.3s;
}

/* Base styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	line-height: var(--linestretch);
}

body {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-normal);
	color: var(--colour-grey);
	background-color: var(--background-colour);
	line-height: var(--linestretch);
	/* keep footer in place? */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

article {
	flex-grow: 1;
	position: relative;
	z-index: 1000;
}

.article-content {
	background-color: var(--background-colour);
	width: 100%;
	position: relative;
	padding-top: calc(2 * var(--gap));
	padding-bottom: calc(2 * var(--gap));
}

.base-grid {
    display: grid;
    grid-gap: calc(1*var(--gap)) calc(3*var(--gap));
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

tt,
code {
	font-size: 90%;
	font-family: var(--font-family-mono);
}

a {
	/* color: var(--primary-colour); */
	text-decoration: none;
	color: var(--primary-colour);
	background: linear-gradient(to left,
			var(--secondary-colour),
			var(--secondary-colour) 50%,
			transparent 50%,
			transparent);
	background-size: 200% 100%;
	/* border-radius: 0.5rem; */
	transition: var(--animation-duration);

	transition-timing-function: ease-out;
	padding-left: calc(var(--font-size-normal) * 0.1);
	margin-left: calc(-1 * var(--font-size-normal) * 0.1);
}

a:hover {
	background-position: 100% 100%;
}

a::after {
	content: "\f062";
	transform: rotate(45deg);
	font: var(--fa-font-solid);
	font-size: var(--font-size-fnote);
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: var(--primary-colour);
	width: calc(var(--font-size-fnote) * 1.1);
	height: calc(var(--font-size-fnote) * 1.1);
	margin-left: calc(var(--font-size-fnote) * -0.1);
	border-radius: 100%;
	text-align: center;
	vertical-align: text-bottom;
	position: relative;
	top: calc(-0.1 * var(--font-size-normal));
}

.link-clean {
	text-decoration: none;
	color: inherit;
	background: none;
	padding: 0;
	margin: 0;
}

.link-clean::after {
	content: none;
}

.link-dld::after {
	transform: rotate(180deg);
}

/* Headings */
h1,
.title {
	color: var(--secondary-colour);
	font-family: var(--font-family-sans);
	font-weight: 800;
	font-size: calc(var(--font-size-Huge) * 1.2);
	line-height: 140%;
	text-align: center;
	padding: var(--font-size-Huge) 0;
}

h2,
.section {
	font-family: var(--font-family-sans);
	font-weight: 700;
	font-size: var(--font-size-Large);
	text-align: left;
	padding-top: calc(var(--font-size-normal) * 1);
	padding-bottom: calc(var(--font-size-normal) * 0.5);
}

h3,
.subsection {
	font-family: var(--font-family-sans);
	font-weight: 700;
	font-size: var(--font-size-Large);
	text-align: left;
	color: var(--primary-colour);
	padding-top: calc(var(--font-size-normal) * 1);
	padding-bottom: calc(var(--font-size-normal) * 0.5);
}

.list {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.s_media-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.s_media-list li {
	vertical-align: text-top;
}

/* Header (Title) */
.header {
	font-family: var(--font-family-sans);
	font-weight: 700;
	background-color: var(--primary-colour);
	padding: var(--font-size-Huge);
}

.header img {
	width: 100%;
	height: var(--item-min-height-sm);
	object-fit: cover;
	object-position: center 10%;
}

/* Navigation bar */
.navbar {
	color: var(--primary-colour);
	background-color: var(--secondary-colour);
	font-size: var(--font-size-fnote);

	display: flex;
	padding: calc(0.25*var(--gap)) 0;
	margin-bottom: var(--gap);
	align-items: center;
}

.navbar .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}

.navbar-list-item {
	margin-left: 0;
	margin-right: var(--gap);
}

.navbar-settings .navbar-list-item {
	margin-left: var(--gap);
	margin-right: 0;
}

.navbar-list-item a::after {
	content: none;
}

.navbar .s_media-list {
	margin-top: auto;
}

/* Body */
p {
	margin-bottom: var(--gap);
}

/* Table */
table {
	width: 100%;
	border-collapse: collapse;
}

.container {
	width: clamp(60%, 90%, 50rem);
	margin: auto;
}

/* Accordion */
.accordion {
	width: 100%;
	background: none;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition: var(--animation-duration);
}

.accordion-toggle {
	display: inline-block;
	position: relative;
	transition: var(--animation-duration);

	transform: rotate(-90deg);
	left: 0;
	top: 0;
}

.accordion-active .accordion-toggle {
	transform: rotate(0deg);
	top: calc(var(--font-size-normal) * 0.1);
	left: calc(var(--gap) * 2);
}

.accordion:hover .accordion-toggle {
	left: calc(var(--gap) * 2);
	transition: var(--animation-duration) ease-in-out;
}

.cvtable-panels .panel {
	display: none;
	overflow: hidden;
}

/* Page info */
.page-info {
	font-size: var(--font-size-fnote);
	background-color: var(--secondary-colour);
	color: var(--primary-colour);
	padding: var(--gap);
	margin-top: calc(2 * var(--gap));
}

.page-info-list td {
	border-bottom: 0;
	/* border-left: 0; */
	border-left: calc(1 * var(--gap));
}

.page-info-text {
	width: 100%;
}

/* MathJax */
.mrow>a {
	color: var(--primary-colour);
}

.mrow>a:hover {
	background: none;
}

.mrow>a::after {
	content: none;
}