# Abandoned files
ENGL101-Project4_Filled.pdf
revision-outtro.md
project.html
project
Project-Fluid
list-of-eps-graduate-programmes
list-of-eps-graduate-programmes.*

# Designing progress
*.key
cv-inspirations
MD-rendering_test

# Mac related cache files
Icon?

# Other cache files
.vscode
.hintrc