# Abandoned files
ENGL101-Project4_Filled.pdf
revision-outtro.md
project.html
project
Project-Fluid
list-of-eps-graduate-programmes
list-of-eps-graduate-programmes.*

# LaTeX related cache files
.texpadtmp
*.tex
*.synctex(busy)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
academic/

# Designing progress
*.key
cv-inspirations
MD-rendering_test

# Mac related cache files
Icon?