body {
    counter-reset: plate;
}

.title-image-container {
    background-image: url("./image/title-image.png");
    width: 100%;
    height: 80vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-image {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

.plate {
    /* border: 2pt solid black; */
    /* background-color: var(--secondary-colour); */
    margin-bottom: calc(1*var(--gap));
    margin-top: calc(1*var(--gap));

    padding-top: calc(1*var(--gap));
    border-top: 2pt solid var(--primary-colour);
}

#plate-left {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
}

#plate-right {
    grid-column: 4/span 3;
    grid-row: 1/span 1;
}

.plate-image_container {
    /* border: 1pt solid red; */
}

.plate-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

.plate-title {
    /* border: 1pt solid red; */
    position: relative;
}

.plate-title_number {
    text-transform: uppercase;
    font-size: var(--font-size-fnote);
    font-family: var(--font-family-sans);
    color: var(--primary-colour);
    cursor: text;
}

.plate-title_number::after {
    counter-increment: plate;
    content: "Plate " counter(plate);
}

.plate-title .section {
    margin-top: 0;
    padding-top: 0;
}

.plate-title_button {
    background-color: transparent;
    border: none;
    display: block;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-normal);
    color: var(--primary-colour);
    margin-top: calc(0.5*var(--gap));
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.plate-title_button::before {
    content: "View collections ";
}

.plate-title_button::after {
    content: "\f107";
    font: var(--fa-font-solid);
    font-size: var(--font-size-fnote);
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    vertical-align: center;
    transform: rotate(-90deg);
    /* transition-duration: var(--animation-duration); */
}


.plate-title_button-actived::before {
    content: "Collapse ";
}

.plate-title_button-actived::after {
    transform: rotate(0deg);
}

.plate-items {
    /* border: 1pt solid red; */
    margin-top: var(--gap);
    padding: var(--gap);
    background-color: var(--secondary-colour);
    display: none;
}

/* .plate-item {
    border: 1pt solid red;
} */

.plate-item_image-container {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.plate-item_modal-image-container {
    width: 100%;
    height: 50vh;
}

.plate-item_image {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition-duration: var(--animation-duration);
}

.plate-item_image:hover {
    height: 110%;
    width: 110%;
}

.plate-item_modal-image {
    height: 100%;
    width: 100%;
    overflow: scroll;
    object-fit: cover;
    object-position: 50% 50%;
}

.plate-item_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: calc(2*var(--gap));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.plate-item_modal-close {
    position: fixed;
    top: calc(2*var(--gap));
    right: calc(2*var(--gap));
    color: var(--background-colour);
    cursor: pointer;
    font-size: var(--font-size-normal);
}

.plate-item_modal-close:hover {
    color: var(--primary-colour);
    cursor: pointer;
}

.plate-item_modal-container {
    background-color: var(--background-colour);
    /* padding: var(--gap); */
    max-height: 100%;
    overflow: auto;
    border: var(--gap) solid var(--background-colour);
}

#plate-item-1_2 {
    grid-column: 1/span 3;
}

#plate-item-2_2 {
    grid-column: 4/span 3;
}

#plate-item-1_3 {
    grid-column: 1/span 2;
}

#plate-item-2_3 {
    grid-column: 3/span 2;
}

#plate-item-3_3 {
    grid-column: 5/span 2;
}

ul,
ol {
    list-style-position: outside;
    margin-left: calc(2*var(--gap));
}


details,
summary {
    display: inline-block;
}

.plate-title_description {
    margin-bottom: calc(2*var(--gap));
}

.plate-title_description h1 {
    display: none;
}

.plain-markdown h1 {
    display: none;
}

.plate-item h1 {
    font-family: var(--font-family-sans);
    font-weight: 700;
    font-size: var(--font-size-Large);
    text-align: left;
    color: var(--primary-colour);
    padding-top: calc(var(--font-size-normal) * 1);
    padding-bottom: calc(var(--font-size-normal) * 0.5);
}

blockquote {
    padding: calc(0.5*var(--gap));
    margin-bottom: var(--gap);

    font-size: var(--font-size-fnote);
    text-transform: uppercase;
    background-color: var(--secondary-colour);
}

.quote {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-large);
    font-style: italic;
    text-align: center;
    color: var(--primary-colour);

    display: block;
    max-width: 80%;
    /* overflow: hidden; */
    overflow-wrap: normal;
    margin: var(--gap) auto;
    /* white-space: nowrap; */
}

.markdown-body li {
    margin-bottom: var(--gap);
}

.markdown-body blockquote p {
    margin-bottom: 0;
}

.markdown-body p {
    margin-bottom: calc(0.5*var(--gap));
}


h2.museum {
    text-align: center;
    font-weight: normal;
    font-size: var(--font-size-large);

    padding-bottom: 0;
    padding-top: calc(4*var(--gap));
}
h2.subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: var(--font-size-normal);
    
    padding-top: 0;
}

h1.title {
    color: var(--primary-colour);
    padding: 0;
}